* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(46, 46, 46);
  color: rgb(243, 243, 243);
}
.title{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.createRow{
display: grid;
grid-template-columns: repeat(40px);
gap: 5px;
}
